#server:
#  port: 8200
#
#spring:
#  security:
#    user:
#      name: admin
#      password: admin
#
#management:
#  endpoints:
#    web:
#      exposure:
#        include: '*'
#  endpoint:
#    health:
#      show-details: always