<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lion.demo.provider.mapper.UserInfoCustomMapper">
    <select id="getAll" resultType="java.util.Map">
      SELECT * FROM user_info
    </select>
</mapper>